<h1>Editing Book</h1>

<%= form_for(@book, url:{ controller: 'books', action: 'update', id: @book.id}) do |f| %>

<h6>title</h6>
<%= f.text_field :title %>

<h6>body</h6>
<%= f.text_area :body %>

 <%= f.submit 'Update Book' %>

<% end %>